{% extends 'base.html' %}
{% block title %}Login - GenOS{% endblock %}

{% block content %}
<div class="card" style="max-width:480px; margin:0 auto;">
    <h2>Login</h2>
    <form method="post" action="{% url 'logar' %}">{% csrf_token %}
        <label>Username</label>
        <input type="text" name="nome" placeholder="Username" required>

        <label>Senha</label>
        <input type="password" name="senha" placeholder="Password" required>

        <button class="btn" type="submit">Entrar</button>
    </form>
</div>
{% endblock %}